@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --black-color: #000000;
    --text-color: #210502;
    --background-color: #fff7f7;
    --primary-color: #f4321c;
    --secondary-color: #f8d770;
    --accent-color: #f6f449;
    --ash-color: #4b4b4b;
    --primary-color-light: #f4321cc9;
    --white-color: #fff;
    --secondary-text-color: #777777;
}


*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    border: nones;
    box-sizing: border-box;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.img-section{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 40px;

}
.img-section-coll{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding: 1.5vh;

}

.img-section-coll img{
    width: 100%;
    border-radius: 10px;
     
}

.img-section-coll iframe{
    padding-top: 10px;
}

.rows{
    display: flex;
}


.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 10vh;

}
.table tr th{
    background-color: var(--primary-color);
    color: #fff;
    text-align: left;

}

.table th,
table td{
    padding: 12px 15px;
}

.table tr{
    border-bottom: 1px solid var(--primary-color);

}

.table tr:nth-of-type(even){
    background-color: #f3f3f3;

}

.table tr:last-of-type{
    border-bottom: 2px solid var(--primary-color) ;
}

.table tr:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.table-section{
    display: flex;
    justify-content: center;
}



@media(max-width:700px){
    .rows{
        flex-direction: column;
    }
    .img-section{
        width: 95%;
    
    }
}


@media(max-width:400px){
    .map{
        width: 300px;
    }
}