@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    border: nones;
    box-sizing: border-box;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}




.cosmetic_product {
    display: flex;
    flex-direction: column;  
    width: 90%;
    border-radius: 30px;
    background-color: var(--banner-bg-color);
    margin: 3% 5%; 
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border);
}


.cosmetic_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 25px;
}


.cosmetic_product h3 {
    color: var(--header-text);
    padding: 10px;
    font-size: 1.5em;
    font-family: "Poetsen One", sans-serif;
}


.cosmetic_product img {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    border: 1px solid var(--border);
}


.cosmetic_product .table {   
    padding: 10px;
    margin: 10px;
    border-collapse: collapse;
}


table td a {
    padding: 8px;
    border-radius: 50px;
    color: var(--icon-text);
    background-color: var(--icon-bg);
}


table td a:hover {
    background-color: var(--sub-text);    
    color: var(--text);
}

.table th, td {
    border: 2px solid black;
    text-align: left;
    padding: 6px;
}

.cosmetic_product .table .product_img {   
    width: fit-content;
    border: none;
    border-radius: 0;
}

.table th{
    background-color: var(--th-bg);
}

.table tbody tr:nth-child(even){
    background-color: var(--tr-even);
}


.table tbody tr:hover {
    background-color: var(--tr-hover);
}




@media(max-width:750px){

    

.category_title h1 {
    padding: 15px 0 15px 0;
}
.product_category {
    display: flex;
    flex-direction: column;  
    width: 90%;
    height: auto;
    padding: 20px;
}
.facecare h3, .womensfragrances h3, .skincare h3, .mensfragrances h3, .colorcosmetics h3{
    text-align: center;
    font-size: 1em;
}



.cosmetic_product {
    width: 90%;
    margin: 3% auto;
}
.cosmetic_product .table {
    width: 100%;
    overflow-x: auto;
    font-size: 0.8em;
}
.cosmetic_product .table th,
.cosmetic_product .table td {
    white-space: nowrap;
    font-size: 0.8em;
}
.cosmetic_product .table .product_img {
    width: 90px;
    height: auto;
}
}