:root{
    --text-color: #210502;
    --background-color: #fff7f7;
    --primary-color: #f4321c;
    --secondary-color: #f8d770;
    --accent-color: #f6f449;
    --ash-color: #4b4b4b;
    --primary-color-light: #f4321cc9;
    --white-color: #fff;
}

.gap{
    min-height: 100vh;
}

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .swiper-pagination-bullet {
    background-color: #ff6347; /* Custom color for bullets */
  }
  .swiper-pagination-bullet-active {
    background-color: #4caf50; /* Custom color for active bullet */
  }
  /* Style for navigation buttons */
  .swiper-button-next,
  .swiper-button-prev {
    color: #ff6347;