@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    border: nones;
    box-sizing: border-box;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

h2{
    padding-bottom: 10px;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.img-section .rows .img-section-coll span{
    margin-bottom: 50px;
}


.img-section{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 40px;

}

.img-section .pgh{
    margin-bottom: 25px;
}

.img-section-coll{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding: 1.5vh;

}

.img-section-coll img{
    width: 100%;
    border-radius: 10px;
     
}

.img-section-coll iframe{
    padding-top: 10px;
}

.rows{
    display: flex;
}

ol{
    margin-bottom: 10px;
}

@media(max-width:700px){
    .rows{
        flex-direction: column;
    }
    .img-section{
        width: 95%;
    
    }
}





.selection{
    margin-bottom: 10px;
}









.frm-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./IMAGES/Banner-image-01.webp);
  width: 100%;
  background-size: cover;
  background-color: #000;
  background-size: cover;
  background-position: center;
}

.frm-container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

.frm-container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.frm-container form .row .col{
  flex:1 1 250px;
}

.frm-container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.frm-container form .row .col .inputBox{
  margin:15px 0;
}

.frm-container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.frm-container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.frm-container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.frm-container form .row .col .flex{
  display: flex;
  gap:15px;
}

.frm-container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.frm-container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.frm-container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.frm-container form .submit-btn:hover{
  background: #2ecc71;
}